# Copyright (c) 2022 ZMK Contributors
# SPDX-License-Identifier: MIT


if SHIELD_SCYLLA_XIAO_RIGHT

config ZMK_KEYBOARD_NAME
	default "ScyllaXiaoR"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_SCYLLA_XIAO_LEFT

config ZMK_KEYBOARD_NAME
	default "ScyllaXiaoL"

config ZMK_SPLIT_ROLE_CENTRAL
	default n
endif

if SHIELD_SCYLLA_XIAO_LEFT || SHIELD_SCYLLA_XIAO_RIGHT

config ZMK_SPLIT
	default y

endif
